body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: "Bebas Neue", sans-serif;
    color: white;
  }
  
  /* Scene Image */
  #sceneImage {
    position: absolute;
    width: 105px;
    height: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease;
    z-index: 2;
  }
  
  /* Pulse Ring */
  #pulse {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 3px solid pink;
    border-radius: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: 1;
  }
  
  /* Slider Container */
  #sliderContainer {
    position: absolute;
    width: 400px;
    height: 20px;
    background: #333;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Green Sweet Spot */
  #greenZone {
    position: absolute;
    height: 100%;
    background: limegreen;
  }
  
  /* Moving Slider */
  #slider {
    position: absolute;
    width: 20px;
    height: 100%;
    background: white;
  }
  
  /* Round Info */
  #roundInfo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
  }
  
  /* Result Overlay */
  #resultOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    z-index: 10;
  }
  
  #resultOverlay button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }

  #agreeButton{
    display: none;}

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000000;
      }
      
      /* Modal content */
      #modal {
        background-color: black;
        padding: 20px;
        border-radius: 10px;
        width: 880px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid aliceblue;
      }
      
      #modal h1 {
        font-size: 30px;
        color: aliceblue;
      }
      
      #modalp{
        color: aliceblue;
      }
      
      #modal button {
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
      }
      
      #modal button:hover {
        background-color: #45a049;
      }
  
      
      #R1{
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 16px;
        text-decoration: none;
      }
      #R5{
        text-decoration: none;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 51px;
      }
    
      #R2{
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 16px;
        text-decoration: none;
      }
      #R3{
        text-decoration: none;
        margin-top: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 51px;
      }
    
    #overlay1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        visibility: hidden;
      }
      
      /* Modal content */
      #modal1 {
        background-color: black;
        padding: 20px;
        border-radius: 10px;
        width: 880px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid aliceblue;
      }
      
      #modal1 h1 {
        font-size: 70px;
        color: aliceblue;
      }
      #modal1 h3 {
        font-size: 30px;
        color: aliceblue;
      }
      #modal1 h4 {
        font-size: 20px;
        color: aliceblue;
      }
      
      #modal1 h2{
        font-size: 50px;
        color: aliceblue;
      }
      
      
    
    #overlay2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        visibility: hidden;
      }
      
      /* Modal content */
      #modal2 {
        background-color: black;
        padding: 20px;
        border-radius: 10px;
        width: 880px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid aliceblue;
      }
      
      #modal2 h1 {
        font-size: 30px;
        color: aliceblue;
      }
      
      #modal2p{
        color: aliceblue;
      }
      
      
  