body{
    margin: 0;
    padding: 0;
    background-color: black;
        font-family: "Bebas Neue", sans-serif;
       
      }
      


/* BACKGROUND CONTAINER */
#bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

/* BACKGROUND IMAGE — FIXED */
.bg-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;      /* always fit horizontally */
    height: auto;     /* maintain aspect ratio */
    transform: translate(-50%, -50%);
}

/* HEADER */
.header3{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}





/* TEXT ON BACKGROUND */



#pic{
    width: 473px;
    margin-top: 119px;
    margin-left: 52px;
}

#subd{position: absolute;
  top: 380px;
  left: 153px;
    height: 10px;
    
   
}

#sub{
    font-family: "Playfair Display", serif;
    padding: -19px;
    border: 2px solid rgb(177, 105, 23);
    background-color: rgb(141, 85, 21);
    transition: all 150s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: background-color, border-color;
    color: white;
    font-size: 20px;
    margin-right: 50px;
    display: inline-block;
    height: 0.5px;
    width: 1084px;
  }

  .is-fading{
    border: 2px solid rgb(241, 231, 231) !important;
    background-color: rgb(238, 231, 222) !important;
  }
#tbx{
  position: relative;
  margin-top: -1091px;
  margin-left: 410px;
  font-size: 100px;
  color: palevioletred;
  border: 2px dotted palevioletred;
  border-radius: 5px;
  width: 395px;
  text-decoration: underline;
  display: none;
}
#tbx1{
  position: relative;
    margin-top: 5px;
    margin-left: 523px;
    font-size: 50px;
    color: red;
    border: 2px dotted red;
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx2{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(60, 255, 0);
    border: 2px dotted rgb(94, 255, 0);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx3{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(243, 242, 255);
    border: 2px dotted rgb(0, 26, 255);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx4{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(0, 195, 255);
    border: 2px dotted rgb(0, 255, 255);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx8{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(0, 195, 255);
    border: 2px dotted rgb(0, 255, 255);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx9{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(51, 255, 0);
    border: 2px dotted rgb(76, 0, 255);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx10{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(255, 251, 0);
    border: 2px dotted rgb(255, 0, 0);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx5{
  position: relative;
    margin-top: 0px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(255, 145, 0);
    border: 2px dotted rgb(255, 166, 0);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
#tbx6{
  position: relative;
    margin-top: -198px;
    margin-left: 800px;
    font-size: 50px;
    border-radius: 5px;
    width: 500px;
    text-decoration: underline;
    display: none;
    text-align: center;
}
#tbx7{
  position: relative;
    margin-top: -43px;
    margin-left: 500px;
    font-size: 50px;
    border-radius: 5px;
    width: 250px;
    text-decoration: underline;
    display: none;
    text-align: center;
}
#tbx11{
  position: relative;
    margin-top: -43px;
    margin-left: 500px;
    font-size: 50px;
    border-radius: 5px;
    width: 250px;
    text-decoration: underline;
    display: none;
    text-align: center;
}

.t{
  position: relative;
    margin-top: 5px;
    margin-left: 523px;
    font-size: 50px;
    color: rgb(255, 238, 0);
    border: 2px dotted rgb(255, 238, 0);
    border-radius: 5px;
    width: 239px;
    text-decoration: underline;
     display: none; 
    text-align: center;
}
/* IMAGE ON BACKGROUND */
.hero-image{
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 400px;
}
  
  
         #txt{
            color: aliceblue;
            margin-left: 172px;
            margin-bottom: -90px ;
            visibility: visible;
         }
         
        .settings{
            background-color: black;
            width: 20px;
        }
        #settings{
            width: 49px;
            margin-top:9px ;
            display: block;
            margin-left: -57px;
            border: 2px solid purple;
            transition: all 1s ease-in-out .1s;
        }
        #settings:hover{
            border-radius: 40px;
        }
        ul{
            list-style: none;
            background: black;
            width: 0px;
  
        }
  
        ul li a{
            display: block;
            padding: 20px 25px;
            color: aliceblue;
            text-decoration: none;
        }
       
    .dropdown{
        width: 20%;
        background: black;
        position: absolute;
        z-index: 999;
        visibility: hidden;
        height: 255px;
        border: 2px solid rgb(233, 128, 59);
        margin-top: -30px;
    }
  
   
  
  
    .helpimg{
        width: 50px;
        border: 2px solid purple;
        transition: all 1s ease-in-out .1s;
    }
    .helpimg:hover {
        border-radius: 40px;
    }
    .help{
        margin-top: -26px;
        margin-left: 8px;
    }
    
  .drp{
    color: aliceblue;
    margin-left: 1400px;
    margin-top: -129px;
    border: 2px solid purple;
    width: 113px;
    height: 50px;
    cursor: pointer;
    transition: all 1s ease-in-out .1s;
  }
  
  .drp:hover{
    border-radius: 30px;
  }
  
  .drp1{
    color: aliceblue;
    margin-left: 1400px;
    margin-top: 20px;
    border: 2px solid purple;
    width: 103px;
    height: 47px;
    cursor: pointer;
    transition: all 1s ease-in-out .1s;
  }
  
  .drp1:hover{
    border-radius: 30px;
  }
  
  .lb:hover ~ .lb1{
    visibility: visible;
  }
  
  .lb1{
    color: white;
    border: 5px solid rgb(233, 128, 59);
    width: 250px;
    margin-left: 1070px;
    margin-top: -450px;
    visibility: hidden;
  }
  
  .lb{
    width: 0px;
    margin-left: -200px;
  }

  #agreeButton{
    display: none;
}
  
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal content */
  #modal {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 880px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid aliceblue;
  }
  
  #modal h1 {
    font-size: 30px;
    color: aliceblue;
  }
  
  #modalp{
    color: aliceblue;
  }
  
  #modal button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  #modal button:hover {
    background-color: #45a049;
  }
  
  /* Hides the content section until the user clicks 'I Agree' */
  #content {
    display: block;
  }
  
  .tc{
    color: aquamarine;
  }
  
  .dobly:hover{
    text-decoration: underline;
  }
  
  #close:hover{
    text-decoration: underline;
  }
  
  #perilev1{
    margin-left: 294px;
    margin-top: 185px;
    width: 763px;
    z-index: 0;
    position: fixed;
  }
  
  .el{
    border: 2px solid ;
    width: 165px;
    height: 86.1px;
    z-index: 1;
    position: relative;
    border-color: rgb(255, 255, 255);
    background-color: aliceblue;
    overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }



  .no-border,
  .no-border::before,
  .no-border::after {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  #H{
    border: 2px solid ;
    margin-top: 0px;
    margin-left: 5111111px;
    width: 500px;
    height: 494.1px;
    z-index: 20;
    position: relative;
    border-color: green;
   
  }
  #He{
    border: 2px solid;
    margin-top: -419px;
    margin-left: 2533336px;
    width: 85px;
    height: 68.1px;
    z-index: 50;
    position: relative;
    border-color: green;
   
  }
  #Li{
    border: 2px solid ;
    margin-top: 53px;
    margin-left: 1984444px;
    width: 199px;
    height: 103.1px;
    z-index: 70;
    position: relative;
    border-color: green;
   
  }
  
  #Be{
    margin-top: -226px;
    margin-left:1005556px;
    height: 149.1px;
   
  }
  
  #B{
    margin-top: -153px;
    margin-left:835555559px;
    height: 149.1px;
   
  }
  
  #C{
    margin-top: -153px;
    margin-left: 67555553px;
    height: 149.1px;
   
  }
  
  #N{
    margin-top: -2px;
    margin-left:100777776px;
   
  }
  
  #O{
    margin-top: -90px;
    margin-left:83999999px;
   
  }
  
  #F{
    margin-top: -91px;
    margin-left: 68888873px;
   
  }
  
  #Ne{
    margin-top: -2px;
    margin-left:108898906px;
    height: 161.1px;
   
  }
  
  #Na{
    margin-top: -165px;
    margin-left:839676767676px;
    height: 161.1px;
   
  }
  
  #Mg{
    margin-top: -165px;
    margin-left: 676767673px;
    height: 161.1px;
   
  }
  
  #Al{
    margin-top: -2px;
    margin-left: 2036767674px;
   border-color: black;
   
  }
  
  
  #P{
    margin-top: -90px;
    margin-left: 2036767674px;
    border-color: black;
   
  }
  
  #S{
    margin-top: -90px;
    margin-left: 205675734px;
    border-color: black;
   
  }
  
  #man{
    position: relative;
    width: 191px;
    margin-top: 265px;
    display: block;
    margin-left: -54px;
  }
  #wman{
    position: relative;
    display: block;
    width: 191px;
    margin-top: -182px;
    margin-left: 1161px;
  }
  #Himg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 149.1px;
    margin-top: -490px;
    margin-left: 1008px;
    position: fixed;
    z-index: 2;
  }
  #Heimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 149.1px;
    margin-top: -490px;
    margin-left: 673px;
    position: fixed;
    z-index: 2;
  }
  #Liimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 149.1px;
    margin-top: -490px;
    margin-left: 841px;
    position: fixed;
    z-index: 2;
  }

  #Beimg{
   
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 86.1px;
    margin-top: -336px;
    margin-left: 843px;
    position: fixed;
    z-index: 2;
  }

  #Bimg{
   
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 86.1px;
    margin-top: -336px;
    margin-left: 682px;
    position: fixed;
    z-index: 2;
  }

  #Cimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 86.1px;
    margin-top: -336px;
    margin-left: 1008px;
    position: fixed;
    z-index: 2;
  }

  #Nimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 159.1px;
    margin-top: -259px;
    margin-left: 843px;
    position: fixed;
    z-index: 2;
  }

  #Oimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 184.1px;
    margin-top: -282px;
    margin-left: 999px;
    position: fixed;
    z-index: 2;
  }

  #Fimg{
    
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 135.1px;
    margin-top: -230px;
    margin-left: 663px;
    position: fixed;
    z-index: 2;
  }

 
  
  #mmdiv{
    border: 2px solid purple;
    width: 79px;
    height: 50px;
    margin-left: 5px;
    margin-top: -68px;
    margin-bottom: -201px;
    
   }
  
   #mainmenue{
    text-decoration: none;
    color: white;
    font-size: 18px;
   }
  
  #elimgdiv{
    height: 50px;
    width: 50px;
  }
  .el.dropb{
    border: 2px solid red;
    
  }
  
  #H.dropb{
    border: 2px solid rgb(123, 231, 21);
  }
  
  #H.dropc{
    border: 2px solid red;
  }
  
  #He.dropb{
    border: 2px solid rgb(123, 231, 21);
  }
  
  #He.dropc{
    border: 2px solid red;
  }

  #Li.dropb{
    border: 2px solid rgb(123, 231, 21);
  }
  
  #Li.dropc{
    border: 2px solid red;
  }

  #Be.dropb{
    border: 2px solid rgb(123, 231, 21);
  }
  
  #Be.dropc{
    border: 2px solid red;
  }
  
  
  #TA {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    visibility: hidden;
  }
  
  /* Modal content */
  #TAtxt {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
  }
  
  .ta{
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    text-decoration: none;
    
  }
  
  #NL {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000000;
    visibility: hidden;
  }
  
  /* Modal content */
  #NLtxt {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
  }
  
  .nl{
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    text-decoration: none;
    
  }
  
  #CNT {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    visibility: hidden;
  }
  
  #cnttxt {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid aliceblue;
    color: aliceblue;
  }
  
  .cnt{
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    text-decoration: none;
    
  }
  
  #cntButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  
  
  