body{
    margin: 0;
    padding: 0;
    background-color: black;
        font-family: "Bebas Neue", sans-serif;
       
      }
      


/* BACKGROUND CONTAINER */
#bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

/* BACKGROUND IMAGE — FIXED */
.bg-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;      /* always fit horizontally */
    height: auto;     /* maintain aspect ratio */
    transform: translate(-50%, -50%);
}

/* HEADER */
.header3{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}






/* TEXT ON BACKGROUND */
#txt{
        position: absolute;
        color: white;
        top: -36px;
        left: 459px;
    font-size: 100px;
    -webkit-text-stroke: 7px  black;
    background-color: black;
}
#txt1{
        position: absolute;
        color: white;
        top: 90px;
        left: 101px;
    font-size: 100px;
    -webkit-text-stroke: 7px  black;
    background-color: black;
    text-align: center;
}
#btn{
    position: absolute;
    color: white;
    top: 515px;
    left: 667px;
    font-size: 40px;
    text-decoration: none;
    background-color: aqua;
    padding-top: 4px;
    padding-bottom: -6px;
    padding-left: 14px;
    padding-right: 15px;
    -webkit-text-stroke: 2px black;
    border: 3px solid white;
    
}

/* IMAGE ON BACKGROUND */
.hero-image{
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 400px;
}

